.btn-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 2px;
  background-color: var(--color-4);
}

.btn-switch > button {
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: var(--color-4);
}

.btn-switch > button[class="active"] {
  background-color: var(--color-3);
}

.btn-switch > button:disabled {
  color: white;
}
