.btn {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 3px;
  border-style: none;
  font-size: map-get($font-size, md);
  transition: background-color 0.01s;
  box-sizing: border-box;
  .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: map-get($font-size, md);
    color: map-get($colors, light);
  }

  @each $color, $val in $colors {
    &.txt-#{$color} {
      color: $val;
    }

    &.btn-#{$color} {
      background: $val;
    }
  }

  &.btn:hover {
    color: map-get($colors, primary);

    box-shadow: 0 0 3px map-get($colors, primary);
    background-color: map-get($colors, light);
  }
}
.custom-stage .active {
  color: map-get($colors, primary);

  border: 2px solid map-get($colors, primary);
  background-color: map-get($colors, light);
}
.candidate {
  padding: 10px 20px;
}

.candidate:hover span {
  color: map-get($colors, primary);
}
.btn:hover span {
  color: map-get($colors, primary);
}

.custom-input > p .badge {
  padding: 0.3rem 0.5rem;
  background-color: map-get($colors, primary);
  color: map-get($colors, light);
  font-weight: 600;
}
