.btn {
    cursor: pointer;
    // margin: 0 3px;
    padding: 10px 15px;
    border-radius: 3px;
    border-style: none;

    @each $color,$val in $colors {
        &.txt-#{$color} {
            color: $val;
        }

        &.btn-#{$color} {
            background: $val;
        }        
    }

    &.btn:hover {
        background-color: map-get($colors, secondary)
    }

}