input[type='text'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='date'],
input[type='time'],
input[type='password'],
input[type='number'],
.select{
  width: 300px;
  height: 40px;
  padding-left:5px;
  border-radius: 4px;
  border:1px solid;
  border-color: map-get($colors,primary); 
}

.input-form{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

label{ 
  margin: 0 0 5px 0px;
  font-size:map-get($font-size,sm);
}
