input[type='text'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='date'],
.select{
  width: 300px;
  height: 40px;
  border-radius: 4px;
  margin: 5px 5px;
  border:1px solid;
  border-color: map-get($colors,primary);
 
}

label{
  margin:0 5px;
  font-size:14px;
}
