input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="password"],
input[type="number"],
textarea,
.select {
  width: 300px;
  padding: 1rem;
  background-color: rgb(43, 43, 43);
  font-size: 1rem;
  color: var(--text-color);
  outline: none;
  border: none;
  box-shadow: 0 0 2px white;
  border-radius: 0.25rem;
}

input::placeholder {
  color: #c1bfbf;
}

textarea {
  resize: none;
}

.input-group > span {
  position: absolute;
  left: 0;
  bottom: -1.2rem;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.input-form label {
  padding-left: 4px;
}
