.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  a {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 0.5rem;
  }

  i {
    width: 1rem;
  }
}
