.loader {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  border: 8px solid var(--color-1);
  border-color: var(--color-1) transparent;
  animation: spin 2s ease-out infinite;
}

// .loader::before {
//   content: "";
//   display: block;
//   position: absolute;
//   top: 8px;
//   left: 8px;
//   width: 52px;
//   height: 52px;
//   border-radius: 50%;
//   border: 6px solid var(--color-1);
//   border-color: transparent var(--color-1);
//   animation: spin 2s ease-out infinite;
//   transform-origin: center;
//   box-sizing: border-box;
// }

// .loader::after {
//   box-sizing: border-box;
//   content: "";
//   display: block;
//   position: absolute;
//   top: 8px;
//   left: 8px;
//   width: 60px;
//   height: 60px;
//   border-radius: 50%;
//   border: 2px solid var(--color-1);
//   border-bottom-color: transparent;
//   animation: spin 2s ease-out infinite;
//   transform-origin: center;
// }

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
