.card-min {
  max-width: 400px;
  padding: 20px 50px;
  margin: 0 auto;
  background-color: map-get($colors, light);
  border-radius: 10px;
  box-shadow: 1px 1px 3px map-get($colors, text),
    1px 1px 3px map-get($colors, text);

  &__header h2 {
    padding: 10px 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: map-get($font-size, lg);
    font-weight: map-get($weight, bold);
    color: map-get($colors, primary);
  }
  &__form {
    .input-group {
      position: relative;
      margin-bottom: 30px;
    }
    .input-name {
      margin-bottom: 20px;
    }
  }
}

.button-group {
  &--user {
    display: flex;
    justify-content: end;
    padding: 5px 0;
    .cancel {
      margin-left: 7px;
      background-color: map-get($colors, light);
      border: 2px solid map-get($colors, primary);
      > a > span {
        color: map-get($colors, primary);
      }
      &:hover {
        background-color: map-get($colors, primary);
        > a > span > span {
          color: map-get($colors, light);
        }
      }
    }
  }
}
.alert {
  position: fixed;
  z-index: 1;
  width: 400px;
  height: 60px;
  top: 50px;
  left: 480px;
  padding: 20px 10px;
  background-color: rgb(247, 170, 38);
  color: white;
  font-weight: map-get($weight, light);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(61, 60, 60, 0.2);
}
