.card-form {
    padding: 20px;
}

.card-wrap {
    display: flex;
}

.card-left {
    width: 50%;
}

.card-right {
    width: 50%;
}

.card-input {
    margin-bottom: 10px;
    &--btnPlus{
       display: flex;
       justify-content: end;
       padding-right: 17px;
    }
    &--border {
        width: 97%;
    }
    &--box {
        padding: 10px 5px;
        margin: 10px 0;
        border: 1px solid;
        border-color: map-get($colors, primary);
    }
    &--language {
        width: 50%;
    }
    &--btnMinus {
        width: 50%;
        margin-top: 20px;
        .btnRight{
            float: right;
        }
    }
    // &--second{
    //     display: flex;
    //     flex-direction: row;
    // }
    &--experience {
        display: flex;
        flex-direction: row;        
    }
    &--first{
        display: flex;
        flex-direction: row;       
    }
}

textarea {
    width: 300px;
    height: 70px;
    border-radius: 5px;
    margin: 5px 5px;
    border: 1px solid;
    border-color: map-get($colors, primary);
}

.button-group{
    display: flex;
    justify-content: end;
    padding:16px;    
}
