.card {
    width: 700px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0px rgb(213, 216, 213), 0 2px 5px 0px rgb(213, 216, 213);

    &__header {
        margin: 0 auto;
        text-align: center;
        padding: 20px 0;
        font-size: 24px;
    }

    &__body {
        // background-color: blue;
    }

    &__txt {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 40px;
    }
    .commentBox {
        width: 88%;
        height: 80px;
        margin: 20px 40px;
    }

    .btn-group {
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding: 20px 40px;
    }

    .txt-gray {
        margin-bottom: 10px;
    }

    &__card-question {
        .question-title {
            display: flex;
            flex-direction: row;
            // justify-content: space-evenly;
            .topic{
                margin:20px 40px;
            }
            .rate{
                margin:20px 180px;
            }
        }

        .question-body {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin:10px 40px;
        }
    }
}