.table-wrap {
  max-width: 100%;
  margin: 0 auto;

  &__content {
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
    .custom-input {
      p {
        display: inline-block;
        margin-top: 10px;
        margin-left: 97px;
      }
    }
    .custom-stage {
      margin-right: 5px;
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

    .search-content {
      margin: 0 11px;
    }
    .create-content {
      margin: 0 12px;
    }
  }

  &__pagination {
    padding: 5px 10px;
    color: map-get($colors, primary);
    .page-content {
      padding: 10px;
    }
  }
  &__main {
    overflow-x: auto;
  }
}

.custom-table {
  text-align: left;
  overflow: hidden;
  margin-top: 1rem;
  min-width: 100%;
  border-collapse: collapse;
  border-radius: 0.5rem;
  color: map-get($colors, primary);
  background-color: map-get($colors, light);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  thead tr {
    background-color: map-get($colors, primary);
    color: map-get($colors, light);
    font-weight: bold;
  }

  th,
  td {
    padding: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    padding: 2rem 1rem;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  tbody tr:nth-of-type(even) {
    background-color: map-get($colors, table);
    color: map-get($colors, primary);
  }

  tbody tr:last-of-type {
    border-bottom: none;
  }
}

.c-notfound {
  margin: 30px 0;
}
.btn-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
