.c-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  line-height: 1.5;

  & > .logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  .name {
    font-weight: bold;
  }

  .job {
    font-size: 0.8rem;
  }
}

.c-nav {
  display: flex;
  align-items: center;
  /* border-top: 1px solid black; */
  border-bottom: 1px solid grey;
  margin: 1rem 0 2rem 0;

  & > a {
    color: black;
    font-weight: bold;
    position: relative;
    padding: 1rem;

    &.active::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: black;
    }
  }
}

.c-main {
  max-width: 700px;
}

/* */

.c-details {
  > .wrapper {
    border: 1px solid grey;
    border-radius: 1rem;
    margin-top: 2rem;
    font-weight: bold;
    background-color: white;

    > * {
      padding: 1rem 2rem;
    }

    h2 {
      position: relative;
      border-bottom: 1px solid grey;

      > span {
        position: absolute;
        right: 2rem;
      }

      a {
        padding: 0.5rem;
      }
    }

    .panel {
      display: grid;
      grid-template-columns: repeat(2, minmax(200px, 40%));
      gap: 1rem;
      line-height: 1.5;
    }

    .label {
      color: grey;
      font-weight: normal;
    }
  }
}

/* */
.active-stage {
  background-color: red;
}
