$colors: (
  primary: #19376d,
  secondary: rgb(56, 60, 79),
  text: black,
  default: rgb(91, 92, 97),
  light: white,
  success: rgb(4, 96, 4),
  danger: red,
  info: #0d4c92,
  warning: rgb(194, 156, 20),
);
