$colors: (
  primary: #19376d,
  secondary: rgb(210, 214, 235),
  text: black,
  default: rgb(116, 99, 172),
  light: white,
  success: rgb(4, 96, 4),
  danger: red,
  info: #0d4c92,
  warning: rgb(194, 156, 20),
  btnColor: rgb(84, 84, 82),
  table: #e7eeff,
);
