
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$weight: (light: 400, medium: 500, bold: 700);
$align: (center, left, right, justify);

* {
  font-family: 'Roboto', sans-serif;
}

body, a {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

a {
  text-decoration: none;
}

@each $color,$val in $colors {
  .txt-#{$color} {
    color: $val;
  }
  .bg-#{$color} {
    background: $val;
  }
}

@each $size, $val in $font-size {
  .txt-#{$size} {
    font-size: $val;
    line-height: $val * 1.5;
  }
}

@each $prefix, $val in $weight {
  .txt-#{$prefix} {
    font-weight: $val;
  }
}

@each $val in $align {
  .txt-#{$val} {
    text-align: $val;
  }
}