/* */

.candidate-page {
  line-height: 1.5;
}

.candidate-page a {
  color: map-get($colors, primary);
  font-weight: 600;
  padding: 0.5rem 1rem;
}

/* header */

.c-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.c-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid var(--color-1);
}

.c-role {
  font-weight: normal;
  font-size: 0.8rem;
  color: var(--font-secondary);
}

.c-nav {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.c-nav > a.active {
  position: relative;
  color: var(--color-1);
}

.c-nav > a.active::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -4px;
  left: 0;
  background-color: var(--color-1);
}

.c-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

/* stage section */

.c-stage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.stage-nav {
  display: flex;
  align-items: center;
}

.nav-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: map-get($colors, light);
}

.nav-item {
  background-color: var(--navbar-background);
  height: 40px;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  cursor: pointer;
}

.nav-active * {
  background-color: var(--color-1);
}

.nav-box[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.nav-box.nav-active::before {
  border-color: var(--color-1);
  border-left-color: transparent;
}

.nav-box.nav-active::after {
  border-left-color: var(--color-1);
}

.nav-box:before,
.nav-box:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border: 20px solid transparent;
}

.nav-box:before {
  border-top-color: var(--navbar-background);
  border-right-color: var(--navbar-background);
  border-bottom-color: var(--navbar-background);
}

.nav-box:after {
  border-left-color: var(--navbar-background);
  border-right: 0;
}

.c-cv {
}

.c-cv iframe {
  width: 100%;
  height: 100vh;
}

/* general */

.info-card {
  background-color: map-get($colors, light);
  border-radius: 1rem;
  border: 2px solid var(--color-1);
}

.info-header {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  border-bottom: 2px solid map-get($colors, primary);
}

.info-main {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 40%));
  gap: 1rem;
}

.info-main.block {
  grid-template-columns: minmax(656px, 1fr);
  gap: 0;
  padding: 0 2rem;
}

.info-card .label {
  font-size: 0.8rem;
  color: var(--font-secondary);
}

.info-row {
  padding: 1rem 0;
  border-bottom: 2px solid var(--color-1);
}

.info-row:last-child {
  border: none;
}

.info-row img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--color-1);
  display: inline;
}

.info-row > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-row__profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.info-row__toggle {
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--color-1);
  color: white;
  border-radius: 0.25rem;
  width: 64px;
}

.info-row-collapse {
  margin-top: 1rem;
}

.info-row-collapse > * {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1rem;
}

.rating {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
}

.rating > i[class*="solid"] {
  color: #d7b700c5;
}

.rating > span {
  position: absolute;
  display: inline-block;
  height: 16px;
  bottom: -20px;
  left: 0;
  font-size: 1rem;
}
