.card {
  width: 700px;
  margin: 0 auto;
  color: white;
  background-color: var(--navbar-background);
  border-radius: 10px;
  box-shadow: 0 0 2px black, 0 0 5px black;
}

.card > h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--color-1);
}

.card-form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-wrap {
  display: flex;
  gap: 2rem;
}

.card-left,
.card-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.input-form {
  display: flex;
  gap: 0.5rem;
}
.card-btnPlus button {
}

.radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-border {
}

.card-box {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}
.card-language {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-btnMinus {
  button {
    margin-top: 40px;
  }
}

.experience-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-group {
  display: flex;
  justify-content: end;
  padding: 20px 20px;
  .btn {
    margin: 0 5px;
  }
}
.star {
  margin-top: 12px;
}
.input-group {
  position: relative;
  padding-bottom: 1px;
}
.validated-error {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.8rem;
}
