:root {
  --color-1: #177afe;
  --color-2: #ffffff;
  --color-3: #f5f7fb;
  --color-4: #1d2433;
  --font-primary: #000000;
  --font-secondary: #3d3d3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 16px;
  color: var(--font-primary);
}
