.btn-plus{    
    display: flex;
    justify-content: end;
   }

.interviewer-group{
    display: flex;
    flex-direction: row;
   
}
.btn-minus{   
    button{
        margin: 10px 0;     
    }      
   
}

