.btn-plus {
  display: flex;
  justify-content: end;
}

.interviewer-group {
  display: flex;
}
.btn-minus {
  button {
    margin: 10px 0;
  }
}

.card-input--box {
  margin-bottom: 10px;
}

.input-group > .interviewer {
  position: absolute;
  bottom: -1rem;
}
