.result {
  display: inline;
  color: map-get($colors, light);
  padding: 5px 10px;
  border-radius: 15px;
  &.pass {
    background-color: map-get($colors, success);
  }

  &.fail {
    background-color: map-get($colors, danger);
  }
  &.pending {
    background-color: map-get($colors, primary);
  }
}
